<!DOCTYPE html>
<html>

<head>
    <base href="~/" />
    <title>GT iHub</title>

    <!-- inject:css -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="forms.css" />
    <!-- endinject -->
</head>

<body>
    <app-route>Loading...</app-route>

    <!-- 1. Load libraries -->
    <script src="node_modules/core-js/client/shim.min.js"></script>
    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>
    <script src="systemjs.config.js"></script>

    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
      System.import('app').catch(function(err){ console.error(err); });
    </script>
</body>

</html>