<div class="panel panel-default">
    <div class="panel-heading">Source Fields</div>
    <div class="panel-body">
        <table class="table center-cells">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Datatype</td>
                    <td>Active</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sourceField of sourceFields; let i=index"></tr>
            </tbody>
        </table>
    </div>
</div>