<div class="container-fluid">
    <div class="panel panel-default input-container">
        <div class="panel-heading">
            Add / Edit Transformation
        </div>
        <div class="panel-body">
            <form #transformForm="ngForm">
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control textarea-resize" id="description"
                           [(ngModel)]="addEditTransform.description" name="description"
                           #description="ngModel"
                           required></textarea>
                    <div *ngIf="!description.valid && !description.pristine"
                         class="alert alert-danger">
                        Description is required
                    </div>                
                </div>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Submit</button>
                <button type="button" class="btn btn-default" (click)="newTransform()"><span class="glyphicon glyphicon-repeat"></span> Clear</button>
                <button type="button" class="btn btn-default" (click)="cancelTransform()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
            </form>
        </div>
    </div>
    <rule-addedit></rule-addedit>
    <condition-addedit></condition-addedit>
</div>