<div class="container">
    <div *ngFor="let project of projects; let i=index" class="panel panel-primary align-space">
        <div class="panel-heading">{{project.name}}</div>
        <div class="panel-body">
            <div><label>Description</label>     {{project.description}}</div>
            <div><label>Project Type</label>    {{project.project_Type}}</div>
            <div class="align-center"><button class="btn btn-primary" (click)="projectClicked(project, i)">View Project</button></div>            
        </div>
    </div>
</div>